/*

Sunburst-like style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 1.5em;
  background: #111;
  color: #f8f8f8;
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: 1.1em;
}

.hljs-comment,
.hljs-quote {
  color: #6C7986;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #FC5FA3;
}

.hljs-string {
  color: #FC6A5D;
}

.hljs-subst {
  color: #daefa3;
}

.hljs-regexp,
.hljs-link {
  color: #e9c062;
}

.hljs-title,
.hljs-section,
.hljs-tag,
.hljs-name {
  color: #5DD8FF;
}

.hljs-symbol,
.hljs-bullet,
.hljs-number {
  color: #D0BF69;
}

.hljs-params,
.hljs-variable,
.hljs-template-variable {
  color: #f7faff;
}

.hljs-attribute {
  color: #cda869;
}

.hljs-meta {
  color: #8996a8;
}

.hljs-formula {
  background-color: #0e2231;
  color: #f8f8f8;
  font-style: italic;
}

.hljs-addition {
  background-color: #253b22;
  color: #f8f8f8;
}

.hljs-deletion {
  background-color: #420e09;
  color: #f8f8f8;
}

.hljs-selector-class {
  color: #9b703f;
}

.hljs-selector-id {
  color: #8b98ab;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
